#!/usr/bin/make -f

#export DH_VERBOSE=1
#export DH_OPTIONS=-v

DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE 2>/dev/null)
MAKEFLAGS=BUILD=system CC=$(DEB_HOST_GNU_TYPE)-gcc

%:
	dh $@

override_dh_auto_install:
	cp ./authd `pwd`/debian/dstud/usr/bin/dstud
	cp ./CA/* `pwd`/debian/dstud/etc/dstu/CA/
	cp ./debian/upstart-dstud `pwd`/debian/dstud/etc/init/dstud.conf
